APP_ENV=development # development / production
APP_DOMAIN=invoiceplane_it.localhost
APP_DOMAIN_LAN=invoiceplane_it-192-168-1-10.devns.me # https://devns.me/
APP_DOMAIN_WAN=SUBDOMAIN.ngrok-free.app # https://ngrok.com/
#APP_HOST_PORT=80 # optional, for direct map to localhost instead of traefik
PROXY_NETWORK=traefik_network
DB_DATABASE=invoiceplane_it
DB_ROOT_PASSWORD=test
#DB_HOST_PORT=3306 # optional, for direct map to localhost instead of traefik
XDEBUG_REMOTE_HOST=host.docker.internal
XDEBUG_REMOTE_PORT=9003
#NGINX_TIMEOUT=180 # optional
#PHP_TIMEOUT=300 # optional
