TUNNEL_TOKEN=eyJhIjoiYzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


### DB ###
MARIADB_ROOT_PASSWORD=xxxxxxxxxxxxxxxxx
MARIADB_USER=invoiceplane
MARIADB_PASSWORD=xxxxxxxxxxxxxxx
MARIADB_DATABASE=invoiceplane_db
