<<<<<<< HEAD
.amount {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 90%;
}
=======
.amount {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 90%;
}
>>>>>>> 955424fcce2fd999f1b899078b3258c002cf5b62
